<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <title>WSD</title>

    <link href='/css/styles.css' rel='stylesheet'/>

  </head>
  <body>
<div id="fader" style="display:none">
  
  {{>navbar}}
  <div class="container mb-5 pb-5 ">
      <div class="pb-2 mb-3 px-3 pt-2">
        {{{body}}}
      </div>
  </div>


<footer class="bg-light py-3 fixed-bottom mt-2">
  <div class="container">
    <div class="row">
      <div class="col-6">
    <span class="text-muted">Last time updated:</span>  {{lastUpdated}} <br>
      </div>
      <div class="col-6 text-right">
        <a class="btn btn-danger" href="/services/refresh" role="button" onclick="javascript: return confirm('Refreshing data takes around 30 seconds! Are you sure you want to do it?')">Refresh Data</a>
      </div>
    </div>
  </div>
</footer>

</div>
    {{!-- <script src='/lib/jquery/dist/jquery.min.js'></script>
    <script src='/lib/bootstrap/dist/js/bootstrap.bundle.min.js'></script>
    <script src='/lib/datatables.net/js/jquery.dataTables.js'></script>
    <script src='/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js'></script>
    <script src='/lib/datatables.net-responsive/js/dataTables.responsive.min.js'></script>
    <script src='/lib/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> --}}

    <script src="/js/scripts.js"></script>
    
  </body>
</html>