<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <meta http-equiv='refresh' content='33;url=/' />

    <title>Data in process</title>
    <!-- CSS -->
    <link href='/css/styles.css' rel='stylesheet' />
  </head>
  <body>

    <main role='main' class='container text-center mt-4'>
      <div class='starter-template'>
        <h1>Services report is getting ready</h1>
        <p class='lead mb-3'>You will be redirected automatically, please be patient!</p>
        <div class='d-flex justify-content-center'>
          <div class='spinner-border' role='status'>
            <span class='sr-only'>Loading...</span>
          </div>
        </div>
      </div>
    </main>
    <script src='/lib/jquery/dist/jquery.min.js'></script>
    <script src='/lib/bootstrap/dist/js/bootstrap.bundle.min.js'></script>

  </body>
</html>